body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.head {
  background: rgba(64, 67, 68, 0.281);
}

.container { 
  background-image: url('https://imgur.com/I7CdlJg.png');
  color: white;

}