body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* a {
  color: #00B7FF;
} */

.head {
  background: rgba(64, 67, 68, 0.281);
}

.display-4{
  font-family: 'Srisakdi', cursive;

}

.container { 
  color: rgb(238, 245, 238);
  font-family: cursive;
  text-align: center;
  background-size: cover;  
  
}


.card{
  background-image: url('https://imgur.com/I7CdlJg.png');
  background-size: cover;
  color: white;
}
.homeBody{
  background-image: url('https://imgur.com/WimsCQZ.jpg');
  background-size: cover;
}

.jumbotron {
  background: rgb(42, 1, 66);
  /* background-image: url('https://imgur.com/WimsCQZ.jpg'); */
}
.createBody{
  background-image: url('https://imgur.com/I7CdlJg.png');
  background-size: cover;
  color: white;
}
.changeBody{
  background-image: url('https://imgur.com/I7CdlJg.png');
  background-size: cover;
}
.showBody{
  background-image: url('https://imgur.com/I7CdlJg.png');
  background-size: cover;
  color: white;
}
