<%- include('../partials/header') %>


    <body>
    <div>
    <form id="newWorld-form" action="/new" method="POST">
        <label for="">World Title</label>
            <textarea rows="" cols="" name="worldTitle"></textarea>
        <label for="">Background</label>
            <textarea rows="" cols="" name="background"></textarea>
        <label for="">technologie</label>
            <textarea rows="" cols="" name="technologie"></textarea>
        <label for="">Time</label>
            <textarea rows="" cols="" name="time"></textarea>
        <label for="">culture</label>
            <textarea rows="" cols="" name="culture"></textarea>
        <label for="">combatTech</label>
            <textarea rows="" cols="" name="combatTech"></textarea>
        <label for="">history</label>
            <textarea rows="" cols="" name="history"></textarea>
        <label for="">supernaturalEl</label>
            <textarea rows="" cols="" name="supernaturalEl"></textarea>
        <button type="submit">Submit</button>
        </form>
    </div>
    <div><a href="/">Return Home</a></div>
    </body>
</html>