<%- include('../partials/header') %>
<head>
<nav class="head">
<ul class="nav justify-content-center">
<li class="nav-item">
  <a class="nav-link active" href="/">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link disabled" href="#">Disabled</a>
</li>
<li class="nav-item">
  <a class="nav-link disabled" href="#">Disabled</a>
</li>
<li class="nav-item">
  <a class="nav-link disabled" href="#">Disabled</a>
</li>
</ul>
<br>
<br>
</nav>
</head>

<body class="createBody">

<form>
  <div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
</form>
<br>
<br>
<br>
<form>




    <div>
    <form id="newWorld-form" action="/new" method="POST">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">World Title</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="worldTitle"></textarea>
    </div>
    <div>
        <label for="exampleFormControlTextarea1">Background</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="background"></textarea>
    </div>
        <label for="exampleFormControlTextarea1">Technology</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="technologie"></textarea>
    <div>   
        <label for="exampleFormControlTextarea1">Time</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="time"></textarea>
    </div>
    <div>
        <label for="exampleFormControlTextarea1">Culture</label>
            <textarea class="form-control" class="form-control" id="exampleFormControlTextarea1" rows="3" name="culture"></textarea>
    </div>
    <div>
        <label for="exampleFormControlTextarea1">Combat Technology</label>
            <textarea id="exampleFormControlTextarea1" class="form-control" rows="3" name="combatTech"></textarea>
    </div>
    <div>
        <label for="exampleFormControlTextarea1">History</label>
            <textarea id="exampleFormControlTextarea1" class="form-control" rows="3" name="history"></textarea>
    </div>
    <div>
        <label for="exampleFormControlTextarea1">Supernatural Elements</label>
            <textarea id="exampleFormControlTextarea1" class="form-control" rows="3" name="supernaturalEl"></textarea>
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Create New World</button>
    <br>
    <br>
        </form> 
    </div>
    </body>
</html>