<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>World Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% worlds.forEach(function(w) { %>
      <tr>
        <td><%= w.worldTitle %></td>
        <td><a href="./<%=w._id %>">DETAILS</a></td>
        <td><a href="./worlds/<%=w._id %>">EDIT WORLD</a></td>
      </tr>
      <% }); %>
    </tbody>
    <div><a href="./new">Create a new World</a></div>
  </table>